<!DOCTYPE html>
<html>
<head>
    <title>Elmi Go School - Über uns</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type ="image/png" href="/src/images/elianLogo.png"/>
    <script src="/src/scripts/responsive.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/src/vendor/normalize.css">
    <link rel="stylesheet" href="/src/styles/main.css">
    
</head>

<body>
    <div class="header-home">
        <h1>Game of Go. <span class="smaller-text">Minutes to learn, a lifetime to master.</span></h1>
    </div>

    <div class="navbar" id="respnavbar">
       <a href="/index.html" class="link-logo">
            <img class="scaled-image scaled-image-fixed left" src="/src/images/elianLogo.png" alt="Company logo">
        </a>

        <a href="/src/views/about.html" class="link  link-lang">EN</a>

        <a href="/src/views/de/contact-de.html" class="link menu-item">Kontakt</a>
        <a href="/src/views/de/about-de.html" class="link menu-item">Über uns</a>   
        <a href="/src/views/de/youthgo-de.html" class="link menu-item">Jugend</a> 
        <a href="/src/views/de/lessons-de.html" class="link menu-item">Unterricht</a>
        <a href="/src/views/de/home-de.html" class="link menu-item">Home</a>
        
        <a href="javascript:void(0);" class="nav-bars menu-item" onclick="respNavbar()">
            <i class="fa fa-bars"></i>
          </a>
        
    </div>

    <div class="bg-lessons container">
        
        <div class="item"  id="elian">
            <h3 class="item-title">
                Wer wir sind
            </h3> <hr>
            <div class="row">
                <div class="column image-centered">
                  
                        <div class="image-container">
                            <img class="image-about scaled-image-youth" src="/src/images/elian.jpeg" alt="Ioan Elian Grigoriu">
                            <p> Ioan Elian Grigoriu, 5 dan</p>
                        </div>

                </div>
                <div class="column">
                    <ul class="list-home">
                        <li class="bullet-home">Top 3 an europäschen Jugendmeisterschaften und rumänischen Landesmeisterschaften (2018, 2019, 2020)</li>
                        <li class="bullet-home">lernte an der Ge Yuhong Go Academy, Peking, China (2017-2018)</li>
                        <li class="bullet-home">lernte an der Jena International Go School (2018-2021)</li>
                        <li class="bullet-home">Lehrer und Ko-Organisator des Summer Go Festivals in Zaostrog, Kroatien (2019, 2020, 2021)                        </li>
                        <li class="bullet-home">Lehrer an der Jena International Go School</li>
                        <li class="bullet-home">Lehrer im Nordic Go Dojo</li>
                        <li class="bullet-home">Teamleader der Jugendteams von Rumänien und Österreich
                        </li>
                       
                    </ul>
                    <p>
                        Als Kind träumte ich davon, mein ganzes Leben lang Go zu spielen.
                        <br><br>
                        Obwohl ich nur 10 Jahre alt war, war das Spiel einfach faszinierend - ein perfektes Abbild der Realität - meine persönliche Taschenwelt. 
                        Während andere Kinder draußen spielten, blieb ich stundenlang zuhause, in höchster Konzentration. Keine Sorge, ich war nicht isoliert, ganz im Gegenteil!<br><br>

                        Bereits mit 15 reiste ich allein durch Europa,
                         nahm an Turnieren teil und lernte viele Go-Spieler kennen, die zu engen Freunden wurden. <br> <br>

                        Heute ist Go ein wesentlicher Teil von mir. 
                        Ich freue mich, meine Erfahrungen mit allen zu teilen, die an der Magie von Go teilhaben möchten.

                    </p>
                </div>

            </div>
            <div class="row">
                <div class="column image-centered">
                    <div class="image-container">
                        <img class="image-about scaled-image-youth" src="/src/images/mirta.jpeg" alt="Mirta Medak">
                        <p> Mirta Medak, 2 dan</p>
                    </div>
                </div>
                <div class="column">
                    <ul class="list-home">
                        <li class="bullet-home">Kroatische U20-Medaillengewinnerin (2018, 2019)</li>
                        <li class="bullet-home">Kroatische Damenmeisterin</li>
                        <li class="bullet-home">Lehrerin und Ko-Organisatorin des Summer Go Festivals in Zaostrog, Kroatien (seit 2019)</li>
                        <li class="bullet-home">Lehrerin des kroatischen Jugend-Go-Teams</li>
                        <li class="bullet-home">Mitorganisatorin der Interschool Go League in Kroatien</li>
                        <li class="bullet-home">Digitale Designerin für Go-Turniere
                        </li>
                    </ul>
                    <p>
                        
                    </p>
                </div>

            </div>
        </div>
  
    </div>
        
    <div class="footer">
        <div class="flex-container">
            <div class="footer-item">
                <h3 class="lesson-type">Elmi Go School</h3>
                <p>Elmi Go School bietet qualitativ hochwertige Lektionen im antiken Spiel Go, im realen Leben und online. </p>
            </div>
                
            <div class="footer-item">
                <h3 class="lesson-type">Folge uns</h3>
                <a href="https://www.facebook.com/Elmi-Go-School-109975808315595" class="fa fa-social fa-facebook"></a>
                <!-- <a href="#" class="fa fa-social fa-instagram"></a> -->
            </div>
         
            <div class="footer-item">
                <h3 class="lesson-type">Kontakt</h3>
                <p>Ioan Elian Grigoriu, 5d <br>
                    +43 677 6439 5159 <br>

                    <br>
                    <a href="mailto:elmigoschool@gmail.com" class="mail-link">elmigoschool@gmail.com</a> 
                </p>
           
            </div>
        </div>
        
        <div class="footer-item text-center"> &copy; 2022 Elmi Go School | All rights reserved</div>
    </div>
</body>

</html>