<!DOCTYPE html>
<html>
<head>
    <title>Elmi Go School</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type ="image/png" href="/src/images/elianLogo.png"/>
    <script src="/src/scripts/responsive.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- <link rel="stylesheet" href="/src/vendor/normalize.css"> -->
    <link rel="stylesheet" href="/src/styles/main.css">
    
</head>

<body>

    <!-- <div class="header">
    </div> -->

    <div class="navbar" id="respnavbar">
       <a href="/index.html" class="link-logo">
            <img class="scaled-image scaled-image-fixed left" src="/src/images/elianLogo.png" alt="Company logo">
        </a>
        
        <a href="/index.html" class="link link-lang">EN</a>
        <a href="/src/views/de/contact-de.html" class="link menu-item">Kontakt</a>
        <a href="/src/views/de/about-de.html" class="link menu-item">Über uns</a>   
        <a href="/src/views/de/youthgo-de.html" class="link menu-item">Jugend Go</a> 
        <a href="/src/views/de/lessons-de.html" class="link menu-item">Lektionen</a>
        <a href="/src/views/de/home-de.html" class="link menu-item">Home</a>
        
        <a href="javascript:void(0);" class="nav-bars menu-item" onclick="respNavbar()">
            <i class="fa fa-bars"></i>
          </a>
        
    </div>

    <div class="bg-lessons">
        <div class="item-home  home-bg-text ">
            <h3 class="item-title item-title-home">ANKÜNDIGUNG</h3>
            <h4 class="home-text">Alle Aktivitäten im Go-Klub Go7 werden vom 19. März auf den 26. März (eine Woche später) verschoben.</h4>
           
            
            <hr>
      </div>
    </div>

    <div class="bg-home container-centered">
        <div class="item-home  home-bg-text">
            <h3 class="item-title item-title-home">Elmi Go School bietet...</h3>
            <div class="row">
                <div class="column">
                  
                        <ul class="list-home">
                            <li class="bullet-home home-text-smaller">Unterricht im echten Leben in Wien</li>
                            <li class="bullet-home home-text-smaller">Privat- und Gruppenunterricht online</li>
                            <li class="bullet-home home-text-smaller">Offline-SGF-Kommentare</li>
                            <li class="bullet-home home-text-smaller">Unterricht auf Englisch, Deutsch, Rumänisch und Kroatisch</li>
                           
                        </ul>
                    </div>
              
                <div class="column">
                    <a href="\src\views\de\lessons-de.html" class="link-home">
                        Mehr Details
                    </a>
                </div>
            </div>
            <hr>
      </div>

      <div class="item-home  home-bg-text">
        <h3 class="item-title item-title-home">Jugend Go Training</h3>
        <div class="row">
            <div class="column">
                <div class="sub-item">
                    <p class="home-text-smaller"> <a href="\src\views\de\contact-de.html" class="link-name-home">Melden Sie</a> Ihre Kinder für einen 10-wöchigen Trainingszyklus an</p>
                    <p class="home-text bigger">oder</p>
                    <p class="home-text-smaller">kommen Sie direkt zum <a href="\src\views\de\youthgo-de.html#location" class="link-name-home">Go7</a> am Samstag um 16:00 Uhr</p>
                    <p class="home-text-smaller">Der erste Trainingszyklus für Jugendliche beginnt am<br> <span class="important">26. 03. 2022.</span></p> 
                </div>
              
            </div>
          
            <div class="column">
                <a href="\src\views\de\youthgo-de.html" class="link-home">
                    Mehr Details
                </a>
            </div>
        </div>
        


    </div>
        
        
    </div>
        
    <div class="footer">
        <div class="flex-container">
            <div class="footer-item">
                <h3 class="lesson-type">Elmi Go School</h3>
                <p>Elmi Go School bietet qualitativ hochwertige Lektionen im antiken Spiel Go, im realen Leben und online. </p>
            </div>
                
            <div class="footer-item">
                <h3 class="lesson-type">Folgen Sie uns</h3>
                <a href="https://www.facebook.com/Elmi-Go-School-109975808315595" class="fa fa-social fa-facebook"></a>
                <!-- <a href="#" class="fa fa-social fa-instagram"></a> -->
            </div>
         
            <div class="footer-item">
                <h3 class="lesson-type">Kontakt</h3>
                <p>Ioan Elian Grigoriu, 5d <br>
                    +43 677 6439 5159 <br>

                    <br>
                    <a href="mailto:elmigoschool@gmail.com" class="mail-link">elmigoschool@gmail.com</a> 
                </p>
           
            </div>
        </div>
        
        <div class="footer-item text-center"> &copy; 2022 Elmi Go School | All rights reserved</div>
    </div>
</body>

</html>