<!DOCTYPE html>
<html>
<head>
    <title>Elmi Go School - Unterricht</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type ="image/png" href="/src/images/elianLogo.png"/>
    <script src="/src/scripts/discounts.js"></script>
    <script src="/src/scripts/responsive.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/src/vendor/normalize.css">
    <link rel="stylesheet" href="/src/styles/main.css">
</head>

<body>
    <div class="header">
       
    </div>

    <div class="navbar" id="respnavbar">
       <a href="/index.html" class="link-logo">
            <img class="scaled-image scaled-image-fixed left" src="/src/images/elianLogo.png" alt="Company logo">
        </a>
        <a href="/src/views/news.html" class="link link-lang">EN</a>

        <a href="/src/views/de/contact-de.html" class="link menu-item">Kontakt</a>
        <a href="/src/views/de/about-de.html" class="link menu-item">Über uns</a>   
        <a href="/src/views/de/youthgo-de.html" class="link menu-item">Jugend</a> 
        <a href="/src/views/de/lessons-de.html" class="link menu-item">Unterricht</a>
        <a href="/src/views/de/news-de.html" class="link menu-item">News</a>
        <a href="/src/views/de/home-de.html" class="link menu-item">Home</a>
        
        <a href="javascript:void(0);" class="nav-bars menu-item" onclick="respNavbar()">
            <i class="fa fa-bars"></i>
          </a>
        
    </div>
    
    <div class="container bg-lessons">

        <article class="item">
            <h1>Dritte Elmi Go Turnier</h1>
            <h2>18. Juni 2023</h2>
            <p> Das Ende des dritten Trainingszyklus wurde wieder durch das Elmi-Go-Turnier markiert. <br>
                9 Spieler haben teilgenommen.
            </p>
            <img class="scaled-image-news" src="/src/images/emt3-group.jpeg">
            <p>Hier ist die Ergebnistabelle des Turniers. Herzlichen Glückwunsch an die Gewinner!</p>
            <img class="scaled-image-news" src="/src/images/emt3-results.jpeg">
    
           
            </div>
            
        </article>

        <article class="item">
            <h1>Zweite Elmi Go Turnier</h1>
            <h2>19. März 2023</h2>
            <p> Das Ende des zweiten Trainingszyklus wurde wieder durch das Elmi-Go-Turnier markiert. <br>
                11 Spieler haben teilgenommen. Das Turnier wurde mit einem um 2 Steine reduzierten Vorgabe gespielt.
            </p>
            <img class="scaled-image-news" src="/src/images/emt2-group.jpeg">
            <img class="scaled-image-news" src="/src/images/emt2-winners.jpeg">
            <p>Here is the result table of the tournament. Congratulations to the winners!</p>
            <img class="scaled-image-news" src="/src/images/emt2-results.png">
    
           
            </div>
            
        </article>

        <article class="item">
            <h1>SEYGO Tour Stage 1</h1>
            <h2>2.-3. Januar, 2023</h2>
            <p>Wir fühlen uns geehrt, die fünfte Saison der SEYGO Tour eröffnet zu haben!
                Lies über SEYGO <a href="https://www.eurogofed.org/seygo/">hier</a>. <br>
                Das Turnier hatte 20 Teilnehmer aus Österreich, Kroatien, der Ukraine, Ungarn und Rumänien. <br>
            </p>
            <img class="scaled-image-news" src="/src/images/tourn1.jpeg">
            <img class="scaled-image-news" src="/src/images/tourn2.jpg">
            <p>Hier ist die Ergebnistabelle des Turniers und die SEYGO-Gewinner.</p>
            <img class="scaled-image-news" src="/src/images/results-seygo.png">
            <img class="scaled-image-news" src="/src/images/results-seygo2.png">
            <p>Siehe das Glück der U18-Gewinner auf der linken Seite und der U12-Gewinner auf der rechten Seite.</p>            <img class="scaled-image-news" src="/src/images/prizegiving-u18.jpg">
            <img class="scaled-image-news" src="/src/images/prizegiving-u12.jpg">
            <div class="container-centered">
                <img class="scaled-image" src="/src/images/group.jpg">
                <p>Wir sehen uns hoffentlich in Wien wieder!</p>
            </div>
            
        </article>
            
            
        <article class="item">
            <h1>Das erste Elmi Go Camp für Jugendliche</h1>
            <h2>Stärker denn je in das Jahr 2023!</h2>
            <hr>
            <p>Vom 27. Dezember bis zum 1. Januar haben wir unser erstes Go-Camp im Go7 abgehalten. Es waren 16 Teilnehmer.<br>
                Die Ergebnisse einiger der Aktivitäten können Sie <a href="https://docs.google.com/spreadsheets/d/1hQUEahPkSPyoii6WXSvhftaRQQ2INBL3KDcjsJ1yNGM/edit#gid=0">hier</a> sehen.
                Die Ligaspiele wurden als C-Klasse gewertet und die Ergebnisse sind auf EGD zu finden.  <br> <br>

                Hier ist ein kurzer Rückblick auf das Camp, gefolgt von Bildern, die von den Organisatoren und unserem Freund Marcel Grünauer gemacht wurden.  <br> <br>
                Um 9 Uhr morgens waren alle vor ihren Tsumego-Papieren bereit. Schlafen oder denken, wir werden es nie erfahren.</p>
           
                <img class="scaled-image-news" src="/src/images/camp-tsumego.jpg" alt="Tsumego">
            
                <img class="scaled-image-news" src="/src/images/camp-tsumego2.jpg" alt="Tsumego">
            
                <p>
                Dann folgten die Ligaspiele. Um den Spielern mehr Ernsthaftigkeit (und zusätzlichen Druck) zu verleihen, wurden nach dem Camp für jeden mindestens 15 Partien gewertet.  <br>
                Stjepan war der beständigste - er verlor nur gegen Roko am letzten Tag.  <br>
                Kotaro Nishi (ehemals 17kyu) zeigte überraschende Ergebnisse und besiegte Lilly Hu (12kyu), Cherry Hu (13kyu) und Vera Neubauer (15kyu). <br>
                Sara Nishi (5kyu) gewann gegen Lucas Hofmann (2kyu). <br>
                </p>
                <img class="scaled-image-news" src="/src/images/league1.jpg" alt="League">
            
                <img class="scaled-image-news" src="/src/images/league2.jpg" alt="League">
            
                <p>
                    Nachdem sie fertig waren, besprachen sich die Spieler mit den Lehrern. Sie hatten die Aufgabe, alle ihre Spiele aufzuschreiben. <br>
                    Auf die Besprechungen folgte eine kurze Unterrichtsstunde.
                </p>
                
                <img class="scaled-image-news" src="/src/images/lesson1.jpg" alt="lesson">
            
                <img class="scaled-image-news" src="/src/images/lesson2.jpg" alt="lesson">

            
               <p>
                Nachmittags ging es mit dem Endspieltraining weiter. Die fortgeschrittenere Gruppe löste 13x13 Endspielprobleme, die auch für Elian manchmal schwierig waren.<br>
                Die Kleinen, die noch wach waren, spielten eine 9x9-Endspielstellung gegeneinander und versuchten ihr Bestes, sente Züge zu finden.
               </p>
                
               <img class="scaled-image-news" src="/src/images/endgame1.jpg" alt="lesson">
            
               <img class="scaled-image-news" src="/src/images/endgame2.jpg" alt="lesson">

               <p>
                Es folgten Lektionen, Simultanspiele, Tsumego-Analysen und Marathonspiele.
               </p>
               
               <p>
                Am ersten Tag besuchte uns Viktor Lin 6dan und half uns, eine Simultanpartie gegen alle Kinder zu spielen. <br>
                Stjepan und Roko, die stärksten Spieler des Camps, spielten ein Simultan mit der Double-Digit-Kyu-Gruppe.
               </p>

               <img class="scaled-image-news" src="/src/images/simul1.jpg" alt="lesson">
            
               <img class="scaled-image-news" src="/src/images/simul2.jpg" alt="lesson">

                <p>
                    Am Ende des Tages würde man erwarten, dass die Schüler müde werden, aber das passierte nur selten. 
                    Es wurden immer noch Marathonspiele gespielt, einige Tsumegos wurden noch diskutiert.
                </p>

                <img class="scaled-image-news" src="/src/images/tsumegodisc.jpg">
                <img class="scaled-image-news" src="/src/images/pairgo.jpg">
                
            <p>Uns hat dieses Camp sehr gut gefallen und wir werden es wieder vorbereiten. Wir hoffen, dass es euch auch gefallen hat. <br><br>
                Besonderer Dank geht an Li Ting 1p, die uns mit Lektionen und Reviews geholfen hat. <br>
                Danke an Marcel Grünauer für die Fotos, Videos und alle andere Hilfe.<br>
                Danke an Bin Hu, Zhao Yiwen, Familie Nishi und alle anderen unterstützenden Eltern! Thanks to Bin Hu, Zhao Yiwen, Nishi family, and all other supporting parents! <br>
                Ohne euch wäre dieses Camp nicht so reibungslos verlaufen.</p>
        </article>
        
         
    </div>
    <div class="footer">
        <div class="flex-container">
            <div class="footer-item">
                <h3 class="lesson-type">Elmi Go School</h3>
                <p>Elmi Go School bietet qualitativ hochwertige Lektionen im antiken Spiel Go, im realen Leben und online. </p>
            </div>
                
            <div class="footer-item">
                <h3 class="lesson-type">Folge uns</h3>
                <a href="https://www.facebook.com/Elmi-Go-School-109975808315595" class="fa fa-social fa-facebook"></a>
                <!-- <a href="#" class="fa fa-social fa-instagram"></a> -->
            </div>
         
            <div class="footer-item">
                <h3 class="lesson-type">Kontakt</h3>
                <p>Ioan Elian Grigoriu, 6d <br>
                    +43 677 6439 5159 <br>

                    <br>
                    <a href="mailto:elmigoschool@gmail.com" class="mail-link">elmigoschool@gmail.com</a> 
                </p>
           
            </div>
        </div>
        
        <div class="footer-item text-center"> &copy; 2025 Elmi Go School | All rights reserved</div>
    </div>
</body>

</html>