<!DOCTYPE html>
<html>
<head>
    <title>Elmi Go School - Jugend</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type ="image/png" href="/src/images/elianLogo.png"/>
    <script src="/src/scripts/responsive.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/src/vendor/normalize.css">
    <link rel="stylesheet" href="/src/styles/main.css">
</head>

<body>
    <!--<div class="youth-header header">
        <h1></h1>
    </div>-->

    <div class="header-youth">
        <h1 class="main-title">TRAINING FÜR DAS ÖSTERREICHISCHE<br>JUGEND-GO-TEAM</h1>
        
    </div>

    <div class="navbar" id="respnavbar">
       <a href="/index.html" class="link-logo">
            <img class="scaled-image scaled-image-fixed left" src="/src/images/elianLogo.png" alt="Company logo">
        </a>

        <a href="/src/views/youthgo.html" class="link link-lang">EN</a>

        <a href="/src/views/de/contact-de.html" class="link menu-item">Kontakt</a>
        <a href="/src/views/de/about-de.html" class="link menu-item">Über uns</a>   
        <a href="/src/views/de/youthgo-de.html" class="link menu-item">Jugend</a> 
        <a href="/src/views/de/lessons-de.html" class="link menu-item">Unterricht</a>
        <a href="/src/views/de/home-de.html" class="link menu-item">Home</a>
        
        <a href="javascript:void(0);" class="nav-bars menu-item" onclick="respNavbar()">
            <i class="fa fa-bars"></i>
          </a>
        
    </div>

    <div class="container bg-youth">

       <!--<div class="item-home  home-bg-text ">
            <h3 class="item-title item-title-home">ANKÜNDIGUNG</h3>
            <h4 class="home-text">Das Youth Go Training vom 4. Juni wird auf den 16. Juni verschoben. <br>
                Wie üblich findet das Training der Fortgeschrittenengruppe von 16:00 bis 17:00 Uhr statt, das der Anfängergruppe von 17:00 bis 18:00 Uhr.</h4>


      </div> -->
      <div class="item">
        <h3 class="item-title">Das erste Zyklusturnier</h3><hr>
        <div class="row">
            <p>Das Turnier des ersten Zyklus, das das Ende des ersten Zyklus markiert, findet am Sonntag, den <span class="important">3. Juli 2022</span> statt.</p>
        </div>
        <div class="row margin-left">
            <div class="column">
                <p><span class="important">TURNIERREGELN</span></p>

            </div>
            <div class="column">
                <p><span class="important">ORIENTIERENDER ZEITPLAN</span></p>
            </div>

           </div>
        <div class="row margin-left">
            <div class="column">
                
                <p class="indent">Zeitvorgaben: 25 Minuten, Sudden Death</p>
                <p class="indent">Turniersystem: Swiss</p>
                <p class="indent">Turnier mit Vorgabe</p>
                <p class="indent">Komi: 6.5 (bzw. 0.5 bei Vorgabespielen) </p>
                <p class="indent">EGD bewerted, class C</p>
                
            </div>
            
            <div class="column">
                
                <p class="indent">8:30 - Registrierung</p>
                <p class="indent">9:00 - Runde 1</p>
                <p class="indent">10:00 - Runde 2</p>
                <p class="indent">Mittagspause</p>
                <p class="indent">13:00 - Runde 3</p>
                <p class="indent">14:00 - Runde 4</p>
                <p class="indent">15:15 - Siegerehrung</p>
        
            </div>
        </div>
        <div class="row">
            <div class="column image-centered">
                <img class=" scaled-image-youth " src="/src/images/tournament.jpeg" alt="Youth">
            </div>
            <div class="column image-centered">
                <img class=" scaled-image-youth " src="/src/images/tournament1.jpeg" alt="Youth">
            </div>
        </div>
    
    </div>

        <div class="item">
            <h3 class="item-title">BEGINN DER ERSTEN SAISON</h3><hr>
            <div class="row">
                <div class="column">
                    <p>Am <span class="important"> 2. Juli 2022</span> endet Saison 1 des 10-wöchigen Trainingszyklus.</p>
                    
                    <p>Am Ende jedes Zyklus wird ein <span class="important">Jugendturnier</span> abgehalten!</p>
                    <br>

                    <a href="#price-section" class="link-prices">
                        Zu den Preisen springen
                    </a>
                </div>
            
                <div class="column image-centered">
                    <img class=" scaled-image-youth " src="/src/images/youthvienna.jpeg" alt="Youth">
                </div>
            </div>
            
        </div>
        <div class="item">
            <h3 class="item-title">Training</h3><hr>
            <div class="row">
                <div class="column">
                    <p class="important">Eine Stunde Study & Play</p>
                    <p> 30 Minuten sind für das Lernen reserviert:</p>
                    <ul>
                        <li class="tick">Interaktive Lektionen auf dem Demobrett</li>
                        <li class="tick">Probleme lösen</li>
                        <li class="tick">Quizfragen</li>
                        <li class="tick">Projektor-Lektionen</li>
                    </ul>
                    <p>30 Minuten sind für Partien gegen andere Schüler oder gegen den Lehrer reserviert.
                    </p>
                    <p>Euer Lehrer ist <span class="important"><a href="about-de.html#elian" class="link-name">Elian Grigoriu</a>, 5 dan</span>,  
                        mehrfacher Medaillengewinner mit großer Erfahrung im Jugendtraining.</p><br>

                    <a href="#price-section" class="link-prices">
                        Zu den Preisen springen
                    </a>
                </div>
            
                <div class="column image-centered">
                    <img class=" scaled-image-youth" src="/src/images/demo.jpeg" alt="Teacher">
                </div>
            </div>
            
        </div>
        <div class="item" id="location">
            <h3 class="item-title">Wo & Wann</h3> <hr>

            <div class="row">
                <div class="column">
                    <img class="icon" src="/src/images/location.png" alt="Location icon">
                     <a href="https://goverband.at/wp2/go7/" class="important link-name">Go club "Go7"
                     </a> <br>
                    
                     <span class="important indent-timeloc column-contactright">Lerchenfelder Straße 97</span><br>
                     <span class="important indent-timeloc">1070 Wien</span><br><br>

                 
                    
                    <br>
                       
                    <img class="icon" src="/src/images/calendar.png" alt="calendar icon">
                    <span class="important">Samstags</span> <br><br>
                    <img class="icon icon-clock" src="/src/images/clock16.png" alt="clock icon">
                    <span class="important ">16:00-17:00</span> <span class="item-subtitle">(Fortgeschrittene)</span>

                    <br><br>
                    <img class="icon icon-clock" src="/src/images/clock17.png" alt="clock icon">
                    <span class="important">17:00-18:00</span>
                    <span class="item-subtitle">(Anfänger)</span> 
                </div>
                
                <div class="column">
                    
                    <div id="map"> 
                        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5317.739162759281!2d16.344743707063472!3d48.209127941811055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07ec47e46d65%3A0xe1b86e5c244c7edc!2sLerchenfelder%20Str.%2097%2C%201080%20Wien%2C%20Austria!5e0!3m2!1sen!2shr!4v1646241687964!5m2!1sen!2shr" allowfullscreen="" loading="lazy"
                    ></iframe></div>
                
                </div>
                    
            </div>
               
            
        </div>
        
       
        <div class="item" id="price-section">
            <h3 class="item-title">Preise</h3><hr>
            <p>Wir bieten einen 10-Wochen-Zyklus an um<br>
                <span class="important indent">160 Euro</span> für Fortgeschrittene<br>
                <span class="important indent">120 Euro</span> für Anfänger</p>
                    
                    <p>Zahlungsmöglichkeiten:</p>
                    <ul class="list-payments"> 
            
                        <li>Barzahlung</li>
                        <li>Bankkonto
                            (siehe <a href="contact-de.html" class="link-name">Kontakt</a> für Details)</li>
                        <li>Paypal<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="S64LP5PQV9MRG">
                            <table>
                            <tr><td><input type="hidden" name="on0" value="Cycle"></td></tr><tr><td><select name="os0">
                                <option value="Full Cycle Advanced">Ganzer Zyklus Fortgeschrittene €160.00</option>
                                <option value="Half* Cycle Advanced">Halber* Zyklus Fortgeschrittene €80.00</option>
                                <option value="Full Cycle Beginners">Ganzer Zyklus Anfänger €120.00</option>
                                <option value="Half* Cycle Beginners">Halber* Zyklus Anfänger €60.00</option>
                            </select> </td></tr>
                            </table>
                            <input type="hidden" name="currency_code" value="EUR">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form></li>
                        
                    </ul>

                    <p>*Halber Zyklus: Wenn du weniger als 5 Einheiten pro Zyklus besuchst, sind die Kosten 80 Euro für Fortgeschrittene und 60 Euro für Anfänger.</p>

                    <p>Schicke deine Zahlung bitte bis spätestens 9. April.</p>
            
        </div>
    </div>

   
    <div class="footer">
        <div class="flex-container">
            <div class="footer-item">
                <h3 class="lesson-type">Elmi Go School</h3>
                <p>Elmi Go School bietet qualitativ hochwertige Lektionen im antiken Spiel Go, im realen Leben und online. </p>
            </div>
                
            <div class="footer-item">
                <h3 class="lesson-type">Folge uns</h3>
                <a href="https://www.facebook.com/Elmi-Go-School-109975808315595" class="fa fa-social fa-facebook"></a>
                <!-- <a href="#" class="fa fa-social fa-instagram"></a> -->
            </div>
         
            <div class="footer-item">
                <h3 class="lesson-type">Kontakt</h3>
                <p>Ioan Elian Grigoriu, 6d <br>
                    +43 677 6439 5159 <br>

                    <br>
                    <a href="mailto:elmigoschool@gmail.com" class="mail-link">elmigoschool@gmail.com</a> 
                </p>
           
            </div>
        </div>
        
        <div class="footer-item text-center"> &copy; 2022 Elmi Go School | All rights reserved</div>
    </div>
</body>

</html>