<!DOCTYPE html>
<html>
<head>
    <title>goligo - About</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type ="image/png" href="/src/images/elianLogo.png"/>
    <script src="/src/scripts/responsive.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/src/vendor/normalize.css">
    <link rel="stylesheet" href="/src/styles/main.css">
    
</head>

<body>
    <div class="header-home">
        <h1>Game of Go. <span class="smaller-text">Minutes to learn, a lifetime to master.</span></h1>
    </div>

    <div class="navbar" id="respnavbar">
        <a href="index.html" class="link">
            <img class="scaled-image scaled-image-fixed left" src="/src/images/elianLogo.png" alt="Company logo">
        </a>
        
        <a href="/src/views/de/about-de.html" class="link menu-item link-lang">DE</a>

        <a href="contact.html" class="link menu-item">Contact us</a>
        <a href="about.html" class="link menu-item">About</a>   
        <a href="youthgo.html" class="link menu-item">Youth Go</a> 
        <a href="lessons.html" class="link menu-item">Lessons</a>
        <a href="index.html" class="link menu-item">Home</a>
        
        <a href="javascript:void(0);" class="nav-bars menu-item" onclick="respNavbar()">
            <i class="fa fa-bars"></i>
          </a>
        
    </div>

    <div class="bg-lessons container">
        
        <div class="item"  id="elian">
            <h3 class="item-title">
                Who we are
            </h3> <hr>
            <div class="row row-about">
                <div class="column image-centered">
                  
                        <div class="image-container">
                            <img class="image-about scaled-image-youth" src="/src/images/elian.jpeg" alt="Ioan Elian Grigoriu">
                            <p> Ioan Elian Grigoriu, 5 dan</p>
                        </div>

                </div>
                <div class="column">
                    <ul class="list-home">
                        <li class="bullet-home">multiple European Youth and Romanian National Medalist (2018, 2019, 2020)</li>
                        <li class="bullet-home">student at Ge Yuhong Go Academy, Beijing, China (2017-2018)</li>
                        <li class="bullet-home">student at Jena International Go School (2018-2021)</li>
                        <li class="bullet-home">teacher and co-organizer of the Summer Go Festival in Zaostrog, Croatia (2019, 2020, 2021)</li>
                        <li class="bullet-home">teacher for Jena International Go School</li>
                        <li class="bullet-home">teacher for Nordic Go Dojo</li>
                        <li class="bullet-home">team leader of Youth Teams in Romania and Austria</li>
                       
                    </ul>
                    <p>
                        When I was a child, I dreamt about playing Go forever. <br>
                        Even though I was only 10, it was
                        just fascinating - a perfect representation of the reality - my personal pocket world.
                        While others were playing outside, I was staying inside, focused, for hours. Don't worry,
                        I was not isolated, in fact, quite the opposite! <br><br>
                        At 15 years old I was already going around Europe by myself, to Go tournaments and meeting 
                        other players who later became dear friends. <br><br>
                        Nowadays, Go is an essential part of myself. I am glad to share my experience with anyone
                        who is interested in the magic of Go.
                    </p>
                </div>

            </div>
            <div class="row row-about">
                <div class="column image-centered">
                    <div class="image-container">
                        <img class="image-about scaled-image-youth" src="/src/images/mirta.jpeg" alt="Mirta Medak">
                        <p> Mirta Medak, 2 dan</p>
                    </div>
                </div>
                <div class="column">
                    <ul class="list-home">
                        <li class="bullet-home">U20 National Medalist (2018, 2019)</li>
                        <li class="bullet-home">Croatian Women champion </li>
                        <li class="bullet-home">teacher and organizer of the Summer Go Festival in Zaostrog, Croatia (since 2019) </li>
                        <li class="bullet-home">teacher of the Croatian Youth Go Team</li>
                        <li class="bullet-home">co-organizer of the Interschool Go Leauge in Croatia</li>
                        <li class="bullet-home">digital designer for go tournaments</li>
                    </ul>
                    <p>
                        
                    </p>
                </div>

            </div>
        </div>
  
    </div>
        
    <div class="footer">
        <div class="flex-container">
            <div class="footer-item">
                <h3 class="lesson-type">goligo</h3>
                <p>goligo provides high-quality lessons in the ancient game of Go, in real life and online. </p>
            </div>
                
            <div class="footer-item">
                <h3 class="lesson-type">Follow us</h3>
                <a href="#" class="fa fa-social fa-facebook"></a>
                <!-- <a href="#" class="fa fa-social fa-instagram"></a> -->
            </div>
            
            <div class="footer-item">
                <h3 class="lesson-type">Contact</h3>
                <p>Ioan Elian Grigoriu, 5d <br>
                    +43 0677 6439 5159 <br>

                    <br>
                    goligo@gmail.com 
                </p>
           
            </div>
        </div>
        
        <div class="footer-item text-center"> &copy; 2022 goligo | All rights reserved</div>
    </div>
</body>

</html>