<!DOCTYPE html>
<html>
<head>
    <title>goligo - Contact</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type ="image/png" href="/src/images/elianLogo.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/src/vendor/normalize.css">
    <link rel="stylesheet" href="/src/styles/main.css">
    
</head>

<body>
    <div class="header-home">
        <h1>Game of Go. <span class="smaller-text">Minutes to learn, a lifetime to master.</span></h1>
    </div>

    <div class="navbar" id="respnavbar">
       <a href="/index.html" class="link">
            <img class="scaled-image scaled-image-fixed left" src="/src/images/elianLogo.png" alt="Company logo">
        </a>
        <a href="/src/views/de/contact-de.html" class="link menu-item link-lang">DE</a>
        <a href="contact.html" class="link menu-item">Contact us</a>
        <a href="about.html" class="link menu-item">About</a>   
        <a href="youthgo.html" class="link menu-item">Youth Go</a> 
        <a href="lessons.html" class="link menu-item">Lessons</a>
        <a href="/index.html" class="link menu-item">Home</a>
        
        <a href="javascript:void(0);" class="nav-bars menu-item" onclick="respNavbar()">
            <i class="fa fa-bars"></i>
          </a>
        
    </div>

    <div class=" container bg-lessons">
        <div class="item">
            <h3 class="item-title item-title-contact">
                GET IN TOUCH
            </h3>
            <div class="container">
            <table class="tableizer-table contact-table">  
                <tbody>
                    <tr><td class="important">EMAIL: </td><td>goligo@gmail.com</td></tr>
                    <tr><td class="important">PHONE:</td><td>+43 0677 6439 5159 via WhatsApp or Telegram</td></tr>
                    <tr><td class="important">FACEBOOK:</td><td></td></tr>
                    <tr><td class="important">KGS:</td><td>goligo</td></tr>
                    <tr><td class="important">DISCORD:</td><td>link</td></tr>
                    
                </tbody>
            </table>

            <p class="item-subtitle">To sign up for 10-week youth training cycle, contact us.</p>

            </div>
        </div>
    </div>
        
    <div class="footer">
        <div class="flex-container">
            <div class="footer-item">
                <h3 class="lesson-type">goligo</h3>
                <p>goligo provides high-quality lessons in the ancient game of Go, in real life and online. </p>
            </div>
                
            <div class="footer-item">
                <h3 class="lesson-type">Follow us</h3>
                <a href="#" class="fa fa-social fa-facebook"></a>
                <!-- <a href="#" class="fa fa-social fa-instagram"></a> -->
            </div>
            
            <div class="footer-item">
                <h3 class="lesson-type">Contact</h3>
                <p>Ioan Elian Grigoriu, 5d <br>
                    +43 0677 6439 5159 <br>

                    <br>
                    goligo@gmail.com 
                </p>
           
            </div>
        </div>
        
        <div class="footer-item text-center"> &copy; 2022 goligo | All rights reserved</div>
    </div>
</body>

</html>