<!DOCTYPE html>
<html>
<head>
    <title>Elmi Go School - Lessons</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type ="image/png" href="/src/images/elianLogo.png"/>
    <script src="/src/scripts/discounts.js"></script>
    <script src="/src/scripts/responsive.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/src/vendor/normalize.css">
    <link rel="stylesheet" href="/src/styles/main.css">
</head>

<body>
    <div class="header">
       
    </div>

    <div class="navbar" id="respnavbar">
       <a href="/index.html" class="link">
            <img class="scaled-image scaled-image-fixed left" src="/src/images/elianLogo.png" alt="Company logo">
        </a>
        <a href="/src/views/de/lessons-de.html" class="link menu-item link-lang">DE</a>
        <a href="contact.html" class="link menu-item">Contact us</a>
        <a href="about.html" class="link menu-item">About</a>   
        <a href="youthgo.html" class="link menu-item">Youth Go</a> 
        <a href="lessons.html" class="link menu-item">Lessons</a>
        <a href="/index.html" class="link menu-item">Home</a>
        
        <a href="javascript:void(0);" class="nav-bars menu-item" onclick="respNavbar()">
            <i class="fa fa-bars"></i>
          </a>
        
    </div>
        <div class="container bg-lessons">
            <div class="item">
                <h3 class="item-title">Private Teaching</h3> <hr>

                <div class="row">
                    <div class="column"><p>
                        Lessons are personalized.<br>
                        Choose your favourite way of learning Go:<br>
                        <ul>
                            <li class="tick">lessons</li>
                            <li class="tick">teaching games</li>
                            <li class="tick">self-study advice</li>
                            <li class="tick">homework</li>
                            <li class="tick">coaching</li>
                        </ul> 
                    
                
                       </p><br>
                    <a href="#price-section" class="link-prices">
                        Prices and packages
                    </a></div>
                    <div class="column"><img class="badge" src="/src/images/online.png" alt="Online">
                        <img class="badge" src="/src/images/reallife.png" alt="real-life"></div>
                    
                        
                </div>
                
            </div>
            <div class="item">
                <h3 class="item-title">Go7 Saturday Lecture</h3><hr>
                <div class="row">
                    <div class="column">
                        <img class="icon" src="/src/images/location.png" alt="Location icon">
                        <a href="https://goverband.at/wp2/go7/" class="important link-name">Go club "Go7"
                        </a> <br>
                        <p class="indent-timeloc">until 1.4.2022.:</p>
                        <span class="important indent-timeloc">Mariahilfer Straße 82</span><br>
                        <span class="important indent-timeloc">1070 Vienna</span>
                        
                        <br><br>
                           
                        <img class="icon" src="/src/images/calendar.png" alt="calendar icon">
                        <span class="important"> Saturdays, 18:00-19:00</span> <br>
                        <br>
                        <p>Players of any level are welcome, as the lectures are meant to be about the modern fundamentals of Go.</p><br>
                        <a href="#price-section" class="link-prices">
                            Prices and packages
                        </a>
                    </div>
                
                <div class="column">
                    <img class="badge" src="/src/images/reallife.png" alt="real-life"></div>
                </div>
            </div>
                    
            
           
            <div class="item"> 
                <h3 class="item-title">Group Training</h3><hr>
                <div class="row">
                    <div class="column">
                        <img class="icon" src="/src/images/location.png" alt="Location icon">
                        <span class="important">Discord</span>
                        <br><br>
                           
                        <img class="icon" src="/src/images/calendar.png" alt="calendar icon">
                        <span class="important"> Sundays, 19:00-21:00</span> 
                        <br>
                        <p>The online training uses a model introduced by Jena International Go School called Play&Train.
                            The Play&Train is a simultaneous game in which the weaker player is allowed to ask questions during the game or request their next move. Undo is also allowed.
                            The teacher will answer all of the questions and also intervene when relevant mistakes are made. It is a flexible way of learning while playing and discussing.</p><br>
                        <a href="#price-section" class="link-prices">
                            Prices and packages
                        </a>
                    </div>
                
                <div class="column">
                    <img class="badge" src="/src/images/online.png" alt="Online"></div>
                </div>
            
            </div>
            <div class="item"> 
                <h3 class="item-title">SGF Game Commentary</h3><hr>
                <div class="row">
                    <div class="column">
                        <p>Send an SGF of your game, and get the full commentary in less than 48 hours.</p>
                        <p>Commentary is either written or recorded.</p> <br>
                        <a href="#price-section" class="link-prices">
                            Prices and packages
                        </a>
                    </div>
                
                <div class="column">
                    <img class="badge" src="/src/images/online.png" alt="Online"></div>
                </div>
                
            
            </div>
        </div>
    <br id="price-section">
    
    <div class="pricelist-container">
        <div class="row">
            <div class="column left">
                <div class="discount-radio">
                    
                    <p class="offers">If you are a student or younger than 16 years old, choose one of the below to see discounted prices:</p>
                    
                    <div clas="radio">
                        <input type="radio" id="U16" name="offer" value="U16" onclick="showPricelist()">
                        <label for="U16">under 16 years old</label> 
                       
                    </div>
                      
                    <div class="radio">
                        <input type="radio" id="students" name="offer" value="students" onclick="showPricelist()">
                        <label for="students">students</label>
                    </div>
                      
                    <div class="radio">
                        <input type="radio" id="general" name="offer" value="general" checked onclick="showPricelist()">
                        <label for="general">general prices</label>
                        
                    </div>
                    
                </div>
               
                
    
            </div>
            <div class="column right">
                <div class="table-container">
                    <table class="tableizer-table" id="table-general">  
                        <tbody>
                         <tr><th rowspan="2" colspan="2">GENERAL</th><th colspan="3" class="private-teaching" id="private-teaching">Private teaching</th><th rowspan="2">Go7 Saturday</th><th rowspan="2">Online group</th><th rowspan="2">SGF commentary</th></tr></thead>
                
                         <tr><td style="height: 30px;">1 hour</td><td>1.5 hours</td><td>2 hours</td></tr>
                         <tr><td rowspan="4" class="vert-style">
                            <span class="vertical">PACKAGES</span></td>
                            <td>1 Lesson</td><td>30</td><td>40</td><td>50</td><td>10</td><td>10</td><td>20</td></tr>
                         <tr><td>5 Lessons</td><td>135</td><td>180</td><td>230</td><td>40</td><td>40</td><td>80</td></tr>
                         <tr><td>10 Lessons</td><td>240</td><td>330</td><td>400</td><td>70</td><td>70</td><td>140</td></tr>
                         <tr><td>20 Lessons</td><td>420</td><td>570</td><td>640</td><td>120</td><td>120</td><td>240</td></tr>
                        </tbody>
                    </table>
                    <table class="tableizer-table" id="table-u16">  
                        <tbody>
                         <tr><th rowspan="2" colspan="2">U16</th><th colspan="3" class="private-teaching" id="private-teaching">Private teaching</th><th rowspan="2">Go7 Saturday</th><th rowspan="2">Online group</th><th rowspan="2">SGF commentary</th></tr></thead>
                
                         <tr><td style="height: 30px;">1 hour</td><td>1.5 hours</td><td>2 hours</td></tr>
                         <tr><td rowspan="4" class="vert-style">
                            <span class="vertical">PACKAGES</span></td>
                            <td>1 Lesson</td><td>24</td><td>32</td><td>40</td><td>5</td><td>5</td><td>10</td></tr>
                         <tr><td>5 Lessons</td><td>108</td><td>144</td><td>184</td><td>20</td><td>20</td><td>40</td></tr>
                         <tr><td>10 Lessons</td><td>192</td><td>264</td><td>320</td><td>35</td><td>35</td><td>70</td></tr>
                         <tr><td>20 Lessons</td><td>336</td><td>456</td><td>512</td><td>60</td><td>60</td><td>120</td></tr>
                        </tbody>
                    </table>
                    <table class="tableizer-table" id="table-students">  
                        <tbody>
                         <tr><th rowspan="2" colspan="2">STUDENTS</th><th colspan="3" class="private-teaching" id="private-teaching">Private teaching</th><th rowspan="2">Go7 Saturday</th><th rowspan="2">Online group</th><th rowspan="2">SGF commentary</th></tr></thead>
                
                         <tr><td style="height: 30px;">1 hour</td><td>1.5 hours</td><td>2 hours</td></tr>
                         <tr><td rowspan="4" class="vert-style">
                            <span class="vertical">PACKAGES</span></td>
                            <td>1 Lesson</td><td>30</td><td>40</td><td>50</td><td>5</td><td>5</td><td>20</td></tr>
                         <tr><td>5 Lessons</td><td>135</td><td>180</td><td>230</td><td>20</td><td>20</td><td>80</td></tr>
                         <tr><td>10 Lessons</td><td>240</td><td>330</td><td>400</td><td>35</td><td>35</td><td>140</td></tr>
                         <tr><td>20 Lessons</td><td>420</td><td>570</td><td>640</td><td>60</td><td>60</td><td>240</td></tr>
                        </tbody>
                    </table>
                    
                </div>
                
            </div>
            
        </div>
        <p class="table-description">All prices are shown in Euro.</p>
        <p class="table-description">If the price table fails to display correctly, see prices <a href="/src/images/ElmiGoSchool-Prices.pdf">here</a>.</p>


    </div>    
        
    <div class="footer">
        <div class="flex-container">
            <div class="footer-item">
                <h3 class="lesson-type">Elmi Go School</h3>
                <p>Elmi Go School provides high-quality lessons in the ancient game of Go, in real life and online. </p>
            </div>
                
            <div class="footer-item">
                <h3 class="lesson-type">Follow us</h3>
                <a href="https://www.facebook.com/Elmi-Go-School-109975808315595" class="fa fa-social fa-facebook"></a>
                <!-- <a href="#" class="fa fa-social fa-instagram"></a> -->
            </div>
            
            <div class="footer-item">
                <h3 class="lesson-type">Contact</h3>
                <p>Ioan Elian Grigoriu, 5d <br>
                    +43 0677 6439 5159 <br>

                    <br>
                    elmigoschool@gmail.com 
                </p>
           
            </div>
        </div>
        
        <div class="footer-item text-center"> &copy; 2022 Elmi Go School | All rights reserved</div>
    </div>
</body>

</html>