<!DOCTYPE html>
<html>
<head>
    <title>Elmi Go School - News</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type ="image/png" href="/src/images/elianLogo.png"/>
    <script src="/src/scripts/discounts.js"></script>
    <script src="/src/scripts/responsive.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/src/vendor/normalize.css">
    <link rel="stylesheet" href="/src/styles/main.css">
</head>

<body>
    <div class="header">
       
    </div>

    <div class="navbar" id="respnavbar">
       <a href="/index.html" class="link-logo">
            <img class="scaled-image scaled-image-fixed left" src="/src/images/elianLogo.png" alt="Company logo">
        </a>
        <a href="/src/views/de/news-de.html" class="link link-lang">DE</a>
        <a href="contact.html" class="link menu-item">Contact us</a>
        <a href="about.html" class="link menu-item">About</a>   
        <a href="youthgo.html" class="link menu-item">Youth Go</a> 
        <a href="lessons.html" class="link menu-item">Lessons</a>
        <a href="news.html" class="link menu-item">News</a>
        <a href="/index.html" class="link menu-item">Home</a>
        
        <a href="javascript:void(0);" class="nav-bars menu-item" onclick="respNavbar()">
            <i class="fa fa-bars"></i>
          </a>
    </div>

    <div class="container bg-lessons">

        <article class="item">
            <h1>The Third Elmi Go Tournament</h1>
            <h2>June 18, 2023</h2>
            <p> The end of the Third Training cycle was again marked by Elmi Go Tournament. <br>
                There were 9 players. Tournament was played with handicap reduced by 2 stones.
            </p>
            <img class="scaled-image-news" src="/src/images/emt3-group.jpeg">
            <p>Here is the result table of the tournament. Congratulations to the winners!</p>
            <img class="scaled-image-news" src="/src/images/emt3-results.jpeg">
    
           
            </div>
            
        </article>

        <article class="item">
            <h1>The Second Elmi Go Tournament</h1>
            <h2>March 19, 2023</h2>
            <p> The end of the Second Training cycle was again marked by Elmi Go Tournament. <br>
                There were 11 players. Tournament was played with handicap reduced by 2 stones.
            </p>
            <img class="scaled-image-news" src="/src/images/emt2-group.jpeg">
            <img class="scaled-image-news" src="/src/images/emt2-winners.jpeg">
            <p>Here is the result table of the tournament. Congratulations to the winners!</p>
            <img class="scaled-image-news" src="/src/images/emt2-results.png">
    
           
            </div>
            
        </article>

        <article class="item">
            <h1>SEYGO Tour Stage 1</h1>
            <h2>January 2-3, 2023</h2>
            <p>We are honored to have opened the Fifth season of SEYGO Tour! 
                Read more about SEYGO <a href="https://www.eurogofed.org/seygo/">here</a>. <br>
                The tournament had 20 participants coming from Austria, Croatia, Ukraine, Hungary, and Romania. <br>
            </p>
            <img class="scaled-image-news" src="/src/images/tourn1.jpeg">
            <img class="scaled-image-news" src="/src/images/tourn2.jpg">
            <p>Here is the result table of the tournament and the SEYGO winners.</p>
            <img class="scaled-image-news" src="/src/images/results-seygo.png">
            <img class="scaled-image-news" src="/src/images/results-seygo2.png">
            <p>See the happiness of the U18 winners on the left and U12 winners on the right.</p>
            <img class="scaled-image-news" src="/src/images/prizegiving-u18.jpg">
            <img class="scaled-image-news" src="/src/images/prizegiving-u12.jpg">
            <div class="container-centered">
                <img class="scaled-image" src="/src/images/group.jpg">
                <p>Hope to see you in Vienna again!</p>
            </div>
            
        </article>
            
            
        <article class="item">
            <h1>1st Elmi Go Camp for Youth</h1>
            <h2>Entering the 2023. stronger than ever!</h2>
            <hr>
            <p>From December 27th to January 1st we held our first Go camp in the Go7. There were 16 participants. <br>
                You can see the results of some of the activities <a href="https://docs.google.com/spreadsheets/d/1hQUEahPkSPyoii6WXSvhftaRQQ2INBL3KDcjsJ1yNGM/edit#gid=0">here</a>.
                The League games were C-class rated and the results are on EGD. <br> <br>

                Here is a short review of the camp followed by pictures taken by the organizers and our friend Marcel Grünauer. <br> <br>
                At 9 in the morning, everyone was ready in front of their tsumego papers. Sleeping or thinking, we will never know.</p>
           
                <img class="scaled-image-news" src="/src/images/camp-tsumego.jpg" alt="Tsumego">
            
                <img class="scaled-image-news" src="/src/images/camp-tsumego2.jpg" alt="Tsumego">
            
                <p>
                Then, the league games followed. To add seriousness (and some extra pressure) on the players, everyone had at least 15 games rated after the camp. <br>
                Stjepan was the most consistent - he lost only to Roko in the last day. <br>
                Kotaro Nishi (former 17kyu) showed surprising results, beating Lilly Hu (12kyu), Cherry Hu (13kyu) and Vera Neubauer (15kyu). <br>
                Sara Nishi (5kyu) beat Lucas Hofmann (2kyu). <br>
                </p>
                <img class="scaled-image-news" src="/src/images/league1.jpg" alt="League">
            
                <img class="scaled-image-news" src="/src/images/league2.jpg" alt="League">
            
                <p>
                    After they finished, the players reviewed with the teachers. They had a task to write down all their games. <br>
                The reviews were followed by a short lesson. 
                </p>
                
                <img class="scaled-image-news" src="/src/images/lesson1.jpg" alt="lesson">
            
                <img class="scaled-image-news" src="/src/images/lesson2.jpg" alt="lesson">

            
               <p>
                In the afternoons, we would continue with endgame training. The more advanced group was solving 13x13 endgame problems,
                which were sometimes difficult for Elian too.<br> The little ones who were still awake played a 9x9 endgame position against each other,
                trying their best to find sente moves.
               </p>
                
               <img class="scaled-image-news" src="/src/images/endgame1.jpg" alt="lesson">
            
               <img class="scaled-image-news" src="/src/images/endgame2.jpg" alt="lesson">

               <p>
                Lessons, simultaneous games, tsumego analysis, and marathon games followed.
               </p>
               
               <p>
                On the first day Viktor Lin 6dan visited us and helped us play a simultaneous game against all children. <br>
                Stjepan and Roko, the strongest players of the camp played a simultaneous with the double-digit-kyu group.
               </p>

               <img class="scaled-image-news" src="/src/images/simul1.jpg" alt="lesson">
            
               <img class="scaled-image-news" src="/src/images/simul2.jpg" alt="lesson">

                <p>
                    At the end of the day one would expect students get tired, but that rarely happened. 
                    Marathon games were still played, some tsumegos still discussed. 
                </p>

                <img class="scaled-image-news" src="/src/images/tsumegodisc.jpg">
                <img class="scaled-image-news" src="/src/images/pairgo.jpg">
                
            <p>We enjoyed this camp a lot, and we will prepare it again. We hope you enjoyed it too. <br><br>
            Special thanks to Li Ting 1p, who helped with lessons and reviews. <br>
            Thanks to Marcel Grünauer for the photos, videos, and all other help. <br>
            Thanks to Bin Hu, Zhao Yiwen, Nishi family, and all other supporting parents! <br>
            This camp wouldn't go as smoothly without you.</p>
        </article>
        
         
    </div>
           
    <div class="footer">
        <div class="flex-container">
            <div class="footer-item">
                <h3 class="lesson-type">Elmi Go School</h3>
                <p>Elmi Go School provides high-quality lessons in the ancient game of Go, in real life and online. </p>
            </div>
                
            <div class="footer-item">
                <h3 class="lesson-type">Follow us</h3>
                <a href="https://www.facebook.com/Elmi-Go-School-109975808315595" class="fa fa-social fa-facebook"></a>
                <!-- <a href="#" class="fa fa-social fa-instagram"></a> -->
            </div>
            
            <div class="footer-item">
                <h3 class="lesson-type">Contact</h3>
                <p>Ioan Elian Grigoriu, 6d <br>
                    +43 677 6439 5159 <br>

                    <br>
                    <a href="mailto:elmigoschool@gmail.com" class="mail-link">elmigoschool@gmail.com</a> 
                </p>
           
            </div>
        </div>
        
        <div class="footer-item text-center"> &copy; 2025 Elmi Go School | All rights reserved</div>
    </div>
</body>

</html>