<!DOCTYPE html>
<html>
<head>
    <title>Elmi Go School - Youth Go</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type ="image/png" href="/src/images/elianLogo.png"/>
    <script src="/src/scripts/responsive.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/src/vendor/normalize.css">
    <link rel="stylesheet" href="/src/styles/main.css">
</head>

<body>
    <!--<div class="youth-header header">
        <h1></h1>
    </div>-->

    <div class="header-youth">
        <h1 class="main-title">Training for Austrian Youth Go Team</h1>
    </div>

    <div class="navbar" id="respnavbar">
       <a href="/index.html" class="link-logo">
            <img class="scaled-image scaled-image-fixed left" src="/src/images/elianLogo.png" alt="Company logo">
        </a>

        <a href="/src/views/de/youthgo-de.html" class="link link-lang">DE</a>

        <a href="contact.html" class="link menu-item">Contact us</a>
        <a href="about.html" class="link menu-item">About</a>   
        <a href="youthgo.html" class="link menu-item">Youth Go</a> 
        <a href="lessons.html" class="link menu-item">Lessons</a>
        <a href="news.html" class="link menu-item">News</a>
        <a href="/index.html" class="link menu-item">Home</a>

        
        <a href="javascript:void(0);" class="nav-bars menu-item" onclick="respNavbar()">
            <i class="fa fa-bars"></i>
          </a>
        
    </div>

    <div class="container bg-youth">

       
    <!--<div class="item-home  home-bg-text ">
            <h3 class="item-title item-title-home">ANNOUNCEMENT</h3>
            <h4 class="home-text">The Youth Go Training from 4. June is postponed to 16. June. <br>
                As usual, the Advanced group training is from 16:00 to 17:00, and the Beginner group from 17:00 to 18:00.</h4>
         
      </div> -->

    <!--    <div class="item">
            <h3 class="item-title">The First Cycle Tournament</h3><hr>
            <div class="row">
                <p>The First Cycle Tournament marking the end of the First Cycle will be held on Sunday, <span class="important">3 July 2022</span>.</p>
            </div>
       
            
            <div class="row align-vert margin-left">
                <div class="column">
                    <p><span class="important">TOURNAMENT RULES</span></p>

                    
                    <p class="indent">Time settings: 25 minutes, sudden death</p>
                    <p class="indent">Tournament system: Swiss</p>
                    <p class="indent">Handicap Tournament</p>
                    <p class="indent">Komi: 6.5 (0.5 in handicap games)</p>
                    <p class="indent">EGD rated, class C</p>
                    
                </div>
                
                <div class="column">
                    
                    <p><span class="important">ORIENTATIVE SCHEDULE</span></p>
                    
                    <p class="indent">8:45 - Registration</p>
                    <p class="indent">9:00 - Round 1</p>
                    <p class="indent">10:00 - Round 2</p>
                    <p class="indent">Lunch break</p>
                    <p class="indent">13:00 - Round 3</p>
                    <p class="indent">14:00 - Round 4</p>
                    <p class="indent">15:15 - Prizegiving</p>
            
                </div>
            </div>
            <div class="row">
                <div class="column image-centered">
                    <img class=" scaled-image-youth " src="/src/images/tournament.jpeg" alt="Youth">
                </div>
                <div class="column image-centered">
                    <img class=" scaled-image-youth " src="/src/images/tournament1.jpeg" alt="Youth">
                </div>
            </div>
        
        </div>
       
    -->
        <div class="item home-bg-text">
            <h3 class="item-title">Start of the second season</h3><hr>
            <div class="row">
                <div class="column">
                    <p>The 10-week training cycle of the second season starts on <span class="important">15 October 2022</span>.</p>

                    <p>If you wish to participate, please fill out the <a href="https://forms.gle/UouSWfhrSeiJJ42s7" class="link-name-home">registration form</a>
                        or <a href="/src/views/contact.html" class="link-name">contact us</a>.</p>
                    
                    <p>At the end of the cycle, a <span class="important">youth tournament</span> will be organised.</p>
                    
                    <p>Read more about the youth training below.</p>
                    <br>
                    <a href="#price-section" class="link-prices">
                        Jump to prices
                    </a>
                </div>
            
                <div class="column image-centered">
                    <img class=" scaled-image-youth " src="/src/images/season2.jpg" alt="Youth">
                </div>
            </div>
            
        </div>
        <div class="item">
            <h3 class="title-smaller ">Training</h3><hr>
            <div class="row">
                <div class="column">
                    <p class="important">One hour of Study & Play</p>
                    <p> 30 minutes reserved for studying:</p>
                    <ul>
                        <li class="tick">demo-board interactive lessons</li>
                        <li class="tick">Go problems</li>
                        <li class="tick">quizzes</li>
                        <li class="tick">projector lessons</li>
                    </ul>
                    <p>30 minutes reserved for playing against each other or against the teacher.</p>
                    <p>Your teacher is <span class="important"><a href="about.html#elian" class="link-name">Elian Grigoriu</a>, 6 dan</span>,
                       multiple medalist with great experience in coaching youth. </p><br>

                    <a href="#price-section" class="link-prices">
                        Jump to prices
                    </a>
                </div>

                <div class="column image-centered">
                    <img class="image-youth " src="/src/images/youthgo.JPG" alt="youth">
                </div>
            
                
            </div>
            
        </div>
        <div class="item" id="location">
            <h3 class="item-title">Where & When?</h3> <hr>

            <div class="row">
                <div class="column">
                    <img class="icon" src="/src/images/location.png" alt="Location icon">
                     <a href="https://goverband.at/wp2/go7/" class="important link-name">Go club "Go7"
                     </a> <br>
                     
                  
                     <span class="important indent-timeloc">Lerchenfelder Straße 97</span><br>
                     <span class="important indent-timeloc">1070 Vienna</span><br>

                   
                    
                    <br>
                       
                    <img class="icon" src="/src/images/calendar.png" alt="calendar icon">
                    <span class="important">Saturdays</span> <br><br>
                    <img class="icon icon-clock" src="/src/images/clock16.png" alt="clock icon">
                    <span class="important ">16:00-17:00</span>
                    <span class="item-subtitle ">(ADVANCED)</span> 
                    
                    <br><br>
                    <img class="icon icon-clock" src="/src/images/clock17.png" alt="clock icon">
                    <span class="important">17:00-18:00</span>
                    <span class="item-subtitle">(BEGINNERS)</span> 
               
                </div>
                
                <div class="column">
                    
                    <div id="map"> 
                        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5317.739162759281!2d16.344743707063472!3d48.209127941811055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07ec47e46d65%3A0xe1b86e5c244c7edc!2sLerchenfelder%20Str.%2097%2C%201080%20Wien%2C%20Austria!5e0!3m2!1sen!2shr!4v1646241687964!5m2!1sen!2shr" allowfullscreen="" loading="lazy"
                    ></iframe></div> 
                
                </div>
                    
            </div>
            
        </div>
       
        <div class="item" id="price-section">
            <h3 class="item-title">Prices</h3><hr>
            
                    <p>The cost of one 10-week cycle is<br>
                        <span class="important indent">160 euro</span> for the advanced group<br>
                        <span class="important indent">140 euro</span> for the beginner group</p>
                    <p>Ways of payment:</p>
                    <ul class="list-payments"> 
            
                        <li>cash</li>
                        <li>bank account (<a href="contact.html" class="link-name">contact</a> for details)</li>
                        <li>Paypal <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="S64LP5PQV9MRG">
                            <table>
                            <tr><td><input type="hidden" name="on0" value="Cycle"></td></tr><tr><td><select name="os0">
                                <option value="Full Cycle Advanced">Full Cycle Advanced €160.00 EUR</option>
                                <option value="Half* Cycle Advanced">Half* Cycle Advanced €80.00 EUR</option>
                                <option value="Full Cycle Beginners">Full Cycle Beginners €140.00 EUR</option>
                                <option value="Half* Cycle Beginners">Half* Cycle Beginners €70.00 EUR</option>
                            </select> </td></tr>
                            </table>
                            <input type="hidden" name="currency_code" value="EUR">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form></li>
                        
                    </ul>

                    <p>*Half cycle: if a player attends less than 5 lessons in one cycle, the cost is 80 euro for advanced group, and 70 euro for beginners group.</p>

                    


                </div>
            
               
    
            
        </div>
    </div>
 
    <div class="footer">
        <div class="flex-container">
            <div class="footer-item">
                <h3 class="lesson-type">Elmi Go School</h3>
                <p>Elmi Go School provides high-quality lessons in the ancient game of Go, in real life and online. </p>
            </div>
                
            <div class="footer-item">
                <h3 class="lesson-type">Follow us</h3>
                <a href="https://www.facebook.com/Elmi-Go-School-109975808315595" class="fa fa-social fa-facebook"></a>
                <!-- <a href="#" class="fa fa-social fa-instagram"></a> -->
            </div>
            
            <div class="footer-item">
                <h3 class="lesson-type">Contact</h3>
                <p>Ioan Elian Grigoriu, 6d <br>
                    +43 677 6439 5159 <br>

                    <br>
                    <a href="mailto:elmigoschool@gmail.com" class="mail-link">elmigoschool@gmail.com</a> 
                </p>
           
            </div>
        </div>
        
        <div class="footer-item text-center"> &copy; 2022 Elmi Go School | All rights reserved</div>
    </div>
</body>

</html>